@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

div.header {
  height: 7rem;
  background: center / cover url('/Users/ashley/Library/Mobile Documents/com~apple~CloudDocs/Coding/Projects/cat-wiki/src/img/header-sm.png') no-repeat;
  border-radius: 40px 40px 0 0; 
  color: white;
  max-width: 90%;
  padding: 1rem 3rem;
}

img.logo {
  padding: 2rem 2rem 0;
}

p.subtitle {
  margin: 0;  
  padding: 0 2rem;
  font-size: 10px;
  width: 40%;

}

img.search {
  height: .8rem;
  position: relative;
  top: -75%;
  left: 87%;
}

form.search {
  height: 80%;
  width: 30%;
  margin: 1rem 2rem;
}

input[type="text"] {
  position: relative;
  height: 15%;
  width: calc(80% - 1rem);
  padding: 0 1rem;
  outline: none;
  background-color: white;
  border-radius: 24px;
  border: none;
  color: #291507;
  font-size: 74%;
  /* Search button */
  background-image: url("../../../img/search-icon.png");
  background-repeat: no-repeat;
  background-position: 90% 50% ;
  background-size: .6rem;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

div.names-list {
  background: white;
  height: 60%;
  width: 80%;
  border-radius: 16px;
  overflow-y:scroll;
  margin: 1rem 0;
  padding: 0 .5rem;
  z-index: 2;
}

div.names-list::-webkit-scrollbar {
  display: none;
}

ul.names-list {
  color: #291507;
  height: 7rem;
  overflow-y: scroll;
  list-style: none;
  width: 100%;
  height: 90%;
  margin: 1rem 0 0 0;
  padding: 0;
}

/* Use this to toggle the search dropdown open and closed*/
div.hidden, ul.hidden {
  display: none;
}


ul.names-list::-webkit-scrollbar {
  width: 5px;
}

ul.names-list::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 16px;
}

ul.names-list::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border-radius: 12px;
}

ul.names-list li {
  font-size: .8rem;
  font-weight: 500;
  height: 2.5rem;
  /* Add some spacing between the beginning of the element and the text */
  padding: 0 0 0 .5rem;
  margin-right: .5rem;
  /* Center text within the li element */
  display: flex;
  align-items: center;
  cursor:pointer;
}

ul.names-list li:hover {
  background-color: rgba(151, 151, 151, 0.1);
  border-radius: 12px;
}



@media screen and (min-width: 700px) {
  div.header {
    height: 18rem;
    background: center / cover url('/Users/ashley/Library/Mobile Documents/com~apple~CloudDocs/Coding/Projects/cat-wiki/src/img/header-md.png') no-repeat;
    padding: 2rem 1.3rem;
    max-width: 95%;
  }

  div.header h4.title {
    display: none;
  }

  div.header img {
    display: block;
    margin: 0;
    width: 20%;
  }

  div.header p {
    font-size: .8rem;
    width: 25%;
  }

  div.header div.search {
    width: 20%;
    height: 10%;
    padding: 1rem 0;
    position: relative;
  }

  div.header div.search input[type="text"]{
  padding: .2rem 1rem;
  }

  div.header div.search img {
    position: absolute;
    top: -30%;
    left: 82%;
    width: .8rem;
  }
}

@media screen and (min-width: 1000px) {
  div.header {
    height: 25rem;
    max-width: 1000px;
    background: center / cover url('/Users/ashley/Library/Mobile Documents/com~apple~CloudDocs/Coding/Projects/cat-wiki/src/img/header-lg.png') no-repeat;
  }

  div.header div.search img{
    position: absolute;
    top: -20%;
    left: 82%;
    width: .8rem;
  }
}