@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

div.header {
  height: 10rem;
  background: center / contain url('/Users/ashley/Library/Mobile Documents/com~apple~CloudDocs/Coding/Projects/cat-wiki/src/img/header-sm.png') no-repeat;
  border-radius: 40px 40px 0 0; 
  color: white;
}

h4.title {
  font-family: 'Mystery Quest', cursive;
  margin: 0;
  padding: 1.5rem 2rem .5rem;
}

p.subtitle {
  margin: 0;  
  padding: 0 2rem;
  font-size: 10px;
  width: 40%;

}

div.search {
  width: 21%;
  height: 18%;
  margin: 1rem 2rem;
}

img.search {
  height: .8rem;
  position: relative;
  top: -75%;
  left: 87%;
}

input[type="text"] {
  height: 100%;
  width: 100%;
  padding: 0 .4rem;
  outline: none;
  background-color: white;
  border-radius: 24px;
  border: none;
  color: #291507;
  font-size: 74%;
}