@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

div.header {
  height: 10rem;
  background: center / cover url('/Users/ashley/Library/Mobile Documents/com~apple~CloudDocs/Coding/Projects/cat-wiki/src/img/header-sm.png') no-repeat;
  border-radius: 40px 40px 0 0; 
  color: white;
}

h4.title {
  font-family: 'Mystery Quest', cursive;
  margin: 0;
  padding: 1.5rem 2rem .5rem;
}

div.header img {
  display: none;
}

p.subtitle {
  margin: 0;  
  padding: 0 2rem;
  font-size: 10px;
  width: 40%;

}

div.search {
  width: 21%;
  height: 18%;
  margin: 1rem 2rem;
}

img.search {
  height: .8rem;
  position: relative;
  top: -75%;
  left: 87%;
}

input[type="text"] {
  height: 100%;
  width: 100%;
  padding: 0 .4rem;
  outline: none;
  background-color: white;
  border-radius: 24px;
  border: none;
  color: #291507;
  font-size: 74%;
}

@media screen and (min-width: 700px) {
  div.header {
    height: 18rem;
    background: center / cover url('/Users/ashley/Library/Mobile Documents/com~apple~CloudDocs/Coding/Projects/cat-wiki/src/img/header-md.png') no-repeat;
    padding: 2rem 1.3rem;
  }

  div.header h4.title {
    display: none;
  }

  div.header img {
    display: block;
    margin: 0;
    width: 20%;
    padding: 3rem 2rem .5rem;
  }

  div.header p {
    font-size: .8rem;
    width: 25%;
  }

  div.header div.search {
    width: 20%;
    height: 10%;
    padding: 1rem 0;
    position: relative;
  }

  div.header div.search input[type="text"]{
  padding: .2rem 1rem;
  }

  div.header div.search img {
    position: absolute;
    top: -30%;
    left: 82%;
    width: .8rem;
  }
}