div.breed-summary {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 2rem 0 1rem 0;
}

div.breed-summary div.photo-container {
  width: 25%;
  height: 25%;
  position: relative;
}

/* Add yellow border before image */
div.breed-summary div.photo-container::before {
  content: "";
  background-color: #DEC68B;
  position: absolute;
  height: 75%;
  border-radius: 12px;
  width: 10%;
  left: -5%;
  z-index: -1;
  top: 10%;
}

div.breed-summary img.photo {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: scale-down;
}

div.breed-summary div.right {
  width: 70%;
  max-width: 500px;
}

div.breed-summary div.text {
  margin: 0 0 1.4rem 0;
}

div.breed-summary div.text h4 {
  font-weight: 525;
  font-size: 1.3rem;
  margin: 0;
}

/* Adjust font size of the summary paragraph*/
div.breed-summary div.text p {
  font-size: .6rem;
  font-weight: 450;
}

div.breed-summary div.stats {
  max-width: 300px;
}

/* Adjust font size of */
div.breed-summary div.stats p {
  font-size: .6rem;
}

/* Increase boldness of the stats category names*/
div.breed-summary div.stats span{
  font-weight: 600;
}

/* Set the rating div to flexbox to align the rating divs and the text */
div.rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

/* Style the text so it is smaller and has the right boldness set*/
div.rating span.stat {
  font-weight: 450;
  font-size: .6rem;
  width: 30%;
}

div.breed-summary div.stats div.rating-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

/* Styling the stat/rating divs*/
div.breed-summary div.stats div.rating-container div.brown-bg {
  display: inline-block;
  height: .45rem; 
  width: 2rem; 
  background-color: #544439;
  border: 1px solid #544439;
  border-radius: 12px;
  margin: 0 .2rem;
}

div.breed-summary div.stats div.rating-container div.no-bg {
  display: inline-block;
  height: .45rem; 
  width: 2rem; 
  background-color: white;
  border: 1px solid #544439;
  border-radius: 12px;
  margin: 0 .2rem;
}
