div.most-searched {
  background-color: #E3E1DC;
  height: auto;
  max-width: calc(90% - 2rem);
  border-radius: 0 0 40px 40px;
  padding: 1rem 1rem 4rem;
}

div.most-searched h5 {
  margin: 0;
  padding: .3rem 1rem;
  font-weight: 500;
}

div.most-searched div.line-break {
  height: .15rem;
  width: 3rem;
  margin: 0 1rem;
  background-color: #4D270C;
  border: 1px solid #4D270C; 
  border-radius: 40px;
}

div.most-searched div.titles {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 90%;
  margin: 0 1rem 3rem;
  padding: 0 1rem;
}

div.most-searched div.titles h3 {
 display: inline;
 font-size: 2rem;
 width: 36%;
}

div.most-searched div.titles a {
  display: inline;
  font-size: .7rem;
  font-weight: 500;
  align-self: center;
  width: 15%;
  text-decoration: none;
  color: #4D270C;
}

div.most-searched div.titles p img {
  vertical-align: middle;
}

div.most-searched div.article-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  height: 70%;
}

div.most-searched div.article-images div {
  flex-basis: 35%;
  display: flex;
  flex-wrap:wrap;
  align-content: center;
  position: relative;
}

div.most-searched div.article-images p {
  width: 90%;
  align-self: auto;
  margin: 1rem 0 5rem;
  font-weight: 600;
  font-size: .8rem;
}

div.most-searched div.article-images div a:hover {
  text-shadow: 4px 1px 2px rgba(153, 150, 150, 1);
}

div.most-searched div.article-images div a {
  text-decoration: none;
  color: #4D270C;
}

div.most-searched div.article-images div img {
  height: 10rem; 
  width: 10rem;
  border-radius: 12px;
  z-index: 1;
  object-fit: cover;
}

div.most-searched div.article-images div img:hover {
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  transform: scale(1.01)
}

div.most-searched div.article-images div img.image-1 {
  border: 1px solid red;
  height: 10%;
}

/* Add a yellow backdrop on first image */
div.most-searched div.article-images div.image-1:before {
  content: "";
  background-color: #DEC68B;
  position: absolute;
  height: 20%;
  border-radius: 12px;
  width: 5%;
  left: 3%;
  z-index: 1;
  top: 2%;
}

@media screen and (min-width: 700px) {
  div.most-searched {
    padding: 2rem 3rem 3rem;
    max-width: calc(1000px - 3.4rem);
  }

  div.most-searched h3 {
    font-size: 2rem;
    width: 45%;
    padding: 1rem 0; 
  }
}

@media screen and (min-width: 800px) {
  div.most-searched div.article-images div img {
    height: 12rem; 
    width: 12rem;
  }
}

@media screen and (min-width: 900px) {
  div.most-searched div.article-images div img {
    height: 14rem; 
    width: 14rem;
  }
}

@media screen and (min-width: 1000px) {
  div.most-searched div.article-images div img {
    height: 20rem; 
    width: 20rem;
  }
}
