@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

div.App {
  padding: 0 5%;
  font-family: 'Montserrat', sans-serif;
  color: #291507;
}

@media screen and (min-width: 700px) {
  div.App {
    padding: 0 10%;
  }
}

@media screen and (min-width: 1200px) {
  div.App {
    padding: 0 15%;
  }
}

@media screen and (min-width: 1500px) {
  div.App {
    padding: 0 20%;
  }
}